@use '../vars' as *;

.container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    color: $text-color;
    padding: 2.8vw 5vw;
}

.headerText {
    font-size: 40pt;
}

.smallerText {
    font-size: 22pt;
}

.textGradient {
    background: linear-gradient(115deg, $primary-color 55%, $darker-primary-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30pt;
    grid-row-gap: 50pt;
    margin: 60pt 0;
}

.categoriesElement {
    display: flex;
    width: 200pt;
    height: 50pt;
    color: $space-color;
    background-color: $accent-color;
    border-radius: 5pt;
    align-items: center;
    justify-content: center; 
    padding: 10pt;
}

.firstSelected {
    background-color: $primary-color;
}

.secondSelected {
    background-color: $darker-primary-color;
}

.thirdSelected {
    background-color: $darkest-primary-color;
}

.firstSelected, .secondSelected, .thirdSelected {
    transition: 0.1s;
}

.category {
    font-size: 18pt;
    background-color: inherit;
}

.confirmButton {
    background-image: linear-gradient(90deg, $darker-primary-color, $primary-color);
    width: 250pt;
    height: 85pt;
    color: $text-color;
    font-size: 28pt;
    padding: 20pt;
    border: none;
    border-radius: 6pt;
    cursor: pointer;
}