@use "../../vars" as *;

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoContainer {
    background-color: transparent;
    border: none;
}

.logo {
    height: 8em;
    cursor: pointer;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.inputText {
    background-color: $space-color;
    height: 22pt;
    width: 50vw;
    border: none;
    border-radius: 10pt;
    color: $text-color;
}

.closeSearchbar {
    cursor: pointer;
    padding: 0 1em 0.25em;
}

.themeIcon {
    height: 1.8em;
    background-color: $space-color;
    padding: 0.25em;
    border-radius: 20px;
    margin: 0 2.3rem 0 1rem;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.helloText {
    font-size: 1.2rem;
    text-align: center;
}
