@use "../../vars" as *;

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150pt;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.inputText {
    background-color: $space-color;
    height: 22pt;
    width: 50vw;
    border: none;
    border-radius: 10pt;
}

.themeIcon {
    height: 22pt;
    background-color: $space-color;
    padding: 3pt;
    border-radius: 15pt;
    margin-left: 14pt;
}
