@use "../../vars" as *;

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logoContainer {
    background-color: transparent;
    border: none;
}

.logo {
    width: 150pt;
    cursor: pointer;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.inputText {
    background-color: $space-color;
    height: 22pt;
    width: 50vw;
    border: none;
    border-radius: 10pt;
    color: $text-color;
}

.themeIcon {
    height: 22pt;
    background-color: $space-color;
    padding: 3pt;
    border-radius: 15pt;
    margin: 0 2.3rem 0 1rem;
    cursor: pointer;
}

.helloText {
    font-size: 1.2rem;
}
