@use "../../vars" as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em 0;
    height: 42em;
    background-color: $space-color;
    border-radius: 10pt;
}

@media screen and (max-width: 575.98px) {
    .container {
        height: 50em;
    }
}
