@use "../../vars" as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1em;
    height: 25em;
    background-color: $space-color;
    border-radius: 10pt;
}

@media screen and (max-width: 575.98px) {
    .container {
        height: 30em;
    }
}
