@use "../../vars" as *;

.userImage {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 4em;
    min-height: 4em;
    background-color: #40974e;
    border-radius: 2em;
}

.userFirstLetter {
    font-size: 1.4em;
    color: white;
}
