@use "../../vars" as *;

.inputField {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input {
    height: 2.2em;
    padding: 1em;
    background-color: $space-color;
    color: $text-color;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &.inputActive {
        border-radius: 10px 10px 0 0;
    }

    &:focus {
        outline: none;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }
}

.magnifyingGlass {
    height: 1.4em;
    width: 1.4em;
    background-color: $space-color;
    color: $primary-color;
    padding: 0.5em;
    border-radius: 200px;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    padding: 0.5em 0;
    background-color: $space-color;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: $text-color;
    border-radius: 0 0 10px 10px;
    overflow-y: auto;
}

.input,
.dropdown {
    width: 50vw;
}

.dropdownItem {
    padding: 0.75em 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $alt-space-color;
    }

    &:not(:last-child) {
        border-bottom: 1px solid $alt-space-color;
    }
}

.itemConent {
    display: flex;
    flex-direction: column;
}

.majorName {
    transition: 0.1s ease;

    &:hover {
        text-shadow: 1px 1px 3px $primary-color;
    }
}

.universityName {
    transition: 0.1s ease;

    &:hover {
        text-shadow: 1px 1px 3px $primary-color;
    }
}

@media screen and (max-width: 1199.98px) {
}

@media screen and (max-width: 991.98px) {
    .input,
    .dropdown {
        width: 42.5vw;
    }
}

@media screen and (max-width: 767.98px) {
}

@media screen and (max-width: 575.98px) {
}
