@use "../../vars" as *;

.container {
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    background-color: $space-color;
    border-radius: 1em;
}

.userSegment {
    display: flex;
    align-items: center;
}

.userImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    height: 4em;
    background-color: #40974e;
    border-radius: 2em;
}

.userFirstLetter {
    font-size: 1.4em;
}

.username {
    padding-left: 0.4em;
}

.commentSegment {
    padding: 0 1em;
}
