@use "../vars" as *;

.container {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.largeText {
    font-size: 4em;
    padding-right: 1em;
}

.textGradient1 {
    background: linear-gradient(90deg, $text-color, $secondary-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textGradient2 {
    background: linear-gradient(90deg, $primary-color 65%, $text-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.topMajors {
    margin-top: 2em;
}

.topMajorsText {
    font-size: 2em;
}

@media screen and (max-width: 1199.98px) {
    .largeText {
        font-size: 3em;
    }

    .topMajorsText {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 991.98px) {
    .largeText {
        font-size: 2.6em;
    }

    .topMajors {
        margin-top: 1.2em;
    }
}

@media screen and (max-width: 767.98px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .largeText {
        font-size: 3.4em;
        padding-right: 0;
        text-align: center;
    }

    .topMajors {
        margin-top: 1em;
        text-align: center;
    }
}

@media screen and (max-width: 575.98px) {
    .largeText {
        font-size: 3em;
    }
}
