@use "../vars" as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $text-color;
}

.headerText {
    font-size: 3.4em;
}

.smallerText {
    font-size: 1.8em;
}

.textGradient {
    background: linear-gradient(
        115deg,
        $primary-color 55%,
        $darker-primary-color
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2.4rem;
    margin: 4rem 0;
}

.categoriesElement {
    display: flex;
    width: 13.333rem;
    height: 3.333rem;
    color: $space-color;
    background-color: $accent-color;
    border-radius: 0.833rem;
    align-items: center;
    justify-content: center;
    padding: 1.667rem;
}

.firstSelected {
    background-color: $primary-color;
}

.secondSelected {
    background-color: $darker-primary-color;
}

.thirdSelected {
    background-color: $darkest-primary-color;
}

.firstSelected,
.secondSelected,
.thirdSelected {
    transition: 0.1s;
}

.category {
    font-size: 1.2rem;
    background-color: inherit;
}

@media screen and (max-width: 1199.98px) {
    .categories {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 991.98px) {
    .categories {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 2rem;
    }

    .categoriesElement {
        width: 15rem;
        height: 4rem;
    }
}

@media screen and (max-width: 767.98px) {
    .headerText {
        font-size: 3em;
    }

    .smallerText {
        font-size: 1.6em;
    }

    .categoriesElement {
        width: 11rem;
        height: 3.4rem;
    }
}

@media screen and (max-width: 575.98px) {
    .headerText {
        font-size: 2.5em;
    }

    .smallerText {
        padding-top: 0.4em;
        font-size: 1.5em;
    }

    .categories {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 1.5rem;
        margin: 2rem 0;
    }

    .categoriesElement {
        width: 60vw;
        height: 3rem;
    }
}
