@use "vars" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10pt;
  height: 300pt;
  background-color: $space-color;
  border-radius: 10pt;
}

.buttonCheck {
  background-image: linear-gradient(90deg, $darker-primary-color, $primary-color);
  width: 120pt;
  height: 50pt;
  color: $text-color;
  font-size: 14pt;
  padding: 10pt;
  margin-left: 10pt;
  border: none;
  border-radius: 6pt;
  cursor: pointer;
}

.majorPreviewElement {
  display: flex;
  align-items: center;
  padding-right: 16pt;
}