@use "../../vars" as *;

.container {
    background-color: $background-color;

    width: 65vw;
    height: 6.5em;
    border-radius: 9px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
        margin-left: 1.4rem;
        font-size: 1.1em;

        h3 {
            color: $accent-color;
            font-weight: 300;
        }

        h5 {
            color: $text-color;
            font-weight: 300;
        }
    }

    .rating {
        span {
            color: $secondary-color;
        }
    }

    .ratingAndButton {
        display: flex;
        align-items: center;
        margin-right: 2rem;
    }

    Button {
        margin-left: 0.55em;
    }
}

@media screen and (max-width: 991.98px) {
    .container {
        width: 80vw;
    }
}

@media screen and (max-width: 767.98px) {
    .container {
        width: 75vw;
        height: 7em;
    }
}

@media screen and (max-width: 575.98px) {
    .container {
        width: 75vw;
        height: 8em;
    }

    .title {
        margin-left: 0.75rem;
        font-size: 1em;
    }

    .rating {
        font-size: 1em;
    }
}
